In [70]:
# variable - variable is a reserved memory location to store values

In [71]:
# python data type
# 1. numerical - integer, complex, float
# 2. Dictionary
# 3. Boolean
# 4. set
# 5. sequence typr - string,list, tuple

# Numerical

In [72]:
a=int(input("enter integer no. "))

enter integer no. 65

In [73]:
type(a)

int

In [74]:
b=float(input('enter float no.'))

enter float no.75

In [75]:
type(b)

float

In [76]:
c=complex(input('enter complex no.'))

enter complex no.2

In [77]:
type(c)

complex

In [78]:
a1=10

In [79]:
type(a1)

int

In [80]:
a2=15.2

In [81]:
type(a2)

float

In [82]:
a3=5+0j

In [83]:
type(a3)

complex

In [84]:
# Dictionary

In [85]:
dict_1={'name':['kiran','simran','kartik'],'marks':[55,34,65,]}

In [86]:
dict_1

{'name': ['kiran', 'simran', 'kartik'], 'marks': [55, 34, 65]}

In [87]:
type(dict_1)

dict

In [88]:
# length (len())
print(len(dict_1))

2

In [89]:
# copy()
dict2 =dict_1.copy()

In [90]:
dict2

{'name': ['kiran', 'simran', 'kartik'], 'marks': [55, 34, 65]}

In [91]:
# clear()
dict2.clear()

In [92]:
dict2

{}

In [93]:
dict_1.fromkeys(dict_1)

{'name': None, 'marks': None}

In [94]:
dict_1.get('name')

['kiran', 'simran', 'kartik']

In [95]:
dict_1.items()

dict_items([('name', ['kiran', 'simran', 'kartik']), ('marks', [55, 34, 65])])

In [96]:
dict_1.keys()

dict_keys(['name', 'marks'])

In [97]:
#dict_1.pop('name')

In [98]:
dict_1

{'name': ['kiran', 'simran', 'kartik'], 'marks': [55, 34, 65]}

In [99]:
#dict_1.popitem()

In [100]:
dict_1.setdefault('class')

In [101]:
dict_1

{'name': ['kiran', 'simran', 'kartik'], 'marks': [55, 34, 65], 'class': None}

In [102]:
dict_1.update({'grade': ['B','C','A']})

In [103]:
dict_1

{'name': ['kiran', 'simran', 'kartik'],
 'marks': [55, 34, 65],
 'class': None,
 'grade': ['B', 'C', 'A']}

In [104]:
dict_1.values()

dict_values([['kiran', 'simran', 'kartik'], [55, 34, 65], None, ['B', 'C', 'A']])

In [105]:
# dictionary is mutable
dict_1['name'][1]=['piyu']

In [106]:
dict_1

{'name': ['kiran', ['piyu'], 'kartik'],
 'marks': [55, 34, 65],
 'class': None,
 'grade': ['B', 'C', 'A']}

In [107]:
for i in dict_1:
    print(i)

name
marks
class
grade

In [108]:
for j in 'banana':
    print(j)

b
a
n
a
n
a

# Boolean

In [109]:
d=20
e=40

In [110]:
d>e

False

In [111]:
e>d

True

In [112]:
if d>e :
    print('d id greater than e')
else:
    print('e is greater than d')

e is greater than d

In [113]:
print(bool(15))

True

In [114]:
print(bool(-1))

True

In [115]:
print(bool(0))

False

In [116]:
print(bool())

False

In [117]:
print(bool([]))

False

In [118]:
print(bool({}))

False

# Set

In [119]:
# set does not allow duplicate values

In [120]:
set_1={'apple',24,True,'banana'}

In [121]:
set_1

{24, True, 'apple', 'banana'}

In [122]:
# set is immmutable
#set_1[1]={'800'}

In [123]:
type(set_1)

set

In [124]:
set2={'apple',24,'apple'}

In [125]:
set2

{24, 'apple'}

In [126]:
len(set_1)

4

In [127]:
s1={1,2,3,4,5,6,7,8,9,10}

In [128]:
s2={2,4,9,8,11,12,13}

In [129]:
s1.add(15)

In [130]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15}

In [131]:
s1.difference(s2)

{1, 3, 5, 6, 7, 10, 15}

In [132]:
s2.difference(s1)

{11, 12, 13}

In [133]:
#s1.difference_update(s2)

In [134]:
s1.discard(2)

In [135]:
s1

{1, 3, 4, 5, 6, 7, 8, 9, 10, 15}

In [136]:
s1.intersection(s2)

{4, 8, 9}

In [137]:
s2.intersection(s1)

{4, 8, 9}

In [138]:
#s1.intersection_update(s2)

In [139]:
s1.isdisjoint(s2)

False

In [140]:
s1.issubset(s2)

False

In [141]:
s2.issubset(s2)

True

In [142]:
s1.issuperset(s2)

False

In [143]:
s1.symmetric_difference(s2)

{1, 2, 3, 5, 6, 7, 10, 11, 12, 13, 15}

In [144]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15}

In [145]:
s1.update({15})

In [146]:
s1

{1, 3, 4, 5, 6, 7, 8, 9, 10, 15}

In [147]:
s4=s1.copy()

In [148]:
s4

{1, 3, 4, 5, 6, 7, 8, 9, 10, 15}

In [149]:
s4.clear()

In [150]:
s4

set()

# String

In [151]:
st = 'hello world'

In [152]:
type(st)

str

In [153]:
# string is immutable
#st[0]='m'

In [154]:
st.capitalize()

'Hello world'

In [155]:
st.casefold()

'hello world'

In [156]:
st.lower()

'hello world'

In [157]:
st.upper()

'HELLO WORLD'

In [158]:
st.center(20)

'    hello world     '

In [159]:
st.endswith('d')

True

In [160]:
st.endswith('o')

False

In [161]:
st.find('e')

1

In [162]:
st.find('d')

10

In [163]:
st.index('l')

2

In [164]:
st.index('h')

0

In [165]:
st.isalnum()

False

In [166]:
st.isalpha()

False

In [167]:
st.isascii()

True

In [168]:
st.islower()

True

In [169]:
st.istitle()

False

In [170]:
st1='Hello'

In [171]:
st1.istitle()

True

In [172]:
st.isupper()

False

In [173]:
st.replace('h','H')

'Hello world'

In [174]:
st.startswith('h')

True

In [175]:
st.title()

'Hello World'

In [176]:
st.swapcase()

'HELLO WORLD'

In [177]:
st1.swapcase()

'hELLO'

In [178]:
st.split()

['hello', 'world']

In [179]:
st.splitlines()

['hello world']

In [180]:
st.strip()

'hello world'

# List

In [181]:
list_=[1,'fruits',2,True]

In [182]:
list_

[1, 'fruits', 2, True]

In [183]:
# list is mutable
list_[0]=5

In [184]:
list_

[5, 'fruits', 2, True]

In [185]:
type(list_)

list

In [186]:
len(list_)

4

In [187]:
list_.append(16)

In [188]:
list_

[5, 'fruits', 2, True, 16]

In [189]:
list_.append([15,133])

In [190]:
list_

[5, 'fruits', 2, True, 16, [15, 133]]

In [191]:
list_.extend([650,800])

In [192]:
list_

[5, 'fruits', 2, True, 16, [15, 133], 650, 800]

In [193]:
len(list_)

8

In [194]:
# count() tells the occurance of a items in a list
list_.count('fruits')

1

In [195]:
list_.append(800)

In [196]:
list_.count(800)

2

In [197]:
list_

[5, 'fruits', 2, True, 16, [15, 133], 650, 800, 800]

In [198]:
list_.pop(-2)

800

In [199]:
list_.pop(-2)

650

In [200]:
list_.index(1)

3

In [201]:
list_.index('fruits')

1

In [202]:
list_.insert(0,'car')

In [203]:
list_

['car', 5, 'fruits', 2, True, 16, [15, 133], 800]

In [204]:
list_.reverse()

In [205]:
list_

[800, [15, 133], 16, True, 2, 'fruits', 5, 'car']

In [206]:
list_.remove(16)

In [207]:
list_

[800, [15, 133], True, 2, 'fruits', 5, 'car']

In [208]:
list_[-1]

'car'

In [209]:
list_[-1::-1]

['car', 5, 'fruits', 2, True, [15, 133], 800]

In [210]:
list_[1:6:2]

[[15, 133], 2, 5]

In [211]:
list_[1:8]

[[15, 133], True, 2, 'fruits', 5, 'car']

In [212]:
if 800 in list_:
    print('yes')
else:
    print('no')

yes

# Tuple

In [213]:
tuple_=(1,6)

In [214]:
type(tuple_)

tuple

In [215]:
tuple_1=(1)

In [216]:
type(tuple_1)

int

In [217]:
tuple_2=(2,)

In [218]:
type(tuple_2)

tuple

In [219]:
#tuple is immutable
#tuple_[0]=5

In [220]:
# how many times value 1 in tuple_
tuple_.count(1)

1

In [221]:
# position of value 1 in tuple_
tuple_.index(1)

0

# Operators

## Arithmetic operator

In [222]:
A=5

In [223]:
B=6

In [224]:
# ADDITION
A+B

11

In [225]:
# SUBTRACT
A-B

-1

In [226]:
# MULTIPLICATION
A*B

30

In [227]:
# DIVISION
A/B

0.8333333333333334

In [228]:
# FLOOR DIVISION
A//B

0

In [229]:
# MODULUS
A%B

5

## Assignment operators

In [230]:
x=5

In [231]:
x+=3

In [232]:
x

8

In [233]:
x-=3

In [234]:
x

5

In [235]:
x*=2

In [236]:
x

10

In [237]:
x/=5

In [238]:
x

2.0

In [239]:
x%=1

In [240]:
x

0.0

In [241]:
x=10

In [242]:
x//=5

In [243]:
x

2

In [244]:
x**=2

In [245]:
x

4

## Comparision operators

In [246]:
m=2

In [247]:
n=10

In [248]:
# equal =
m==n

False

In [249]:
# not equal !=  
m!=n

True

In [250]:
# greater than
n>m

True

In [251]:
# less than
m<n

True

In [252]:
# greather than or equal to
m>=n

False

In [253]:
# less than equal to 
m<=n

True

## Logical operator

In [254]:
m_1=12

In [255]:
print(m_1< 2 and m_1>10)

False

In [256]:
print(m_1>3 or m_1>10)

True

In [257]:
print(not(m_1>3 and m_1>10))

False

## Membership operator

In [258]:
m_2=[12,13,14,15,20]

In [259]:
if 20 in m_2 :
    print('yes')
else:
    print('no')

yes

In [260]:
if 20 not in  m_2 :
    print('no')
else:
    print('yes')

yes

# if...elif..else

In [261]:
u= 33
v=200

In [262]:
if v> u:
    print('v is greater than u')
elif v==u:
    print('v and u are equal')
else :
    print('u is greater than v')

v is greater than u

# Python Loops

## while loop

In [263]:
i=1
while i<6:
    print(i)
    i=i+1

1
2
3
4
5

In [264]:
n=10
i=1
sum=0
while i<n:
    sum=sum+i
    i=i+1 
    print(sum)

print('sum:-',sum)

1
3
6
10
15
21
28
36
45
sum:- 45

In [265]:
a,b=0,1
while b<10:
    print(b)
    a,b=b,a+b

1
1
2
3
5
8

### break

In [266]:
n=25
i=1
while i<=n:
    print(i)
    if i==11:
        break
    i=i+1

1
2
3
4
5
6
7
8
9
10
11

### continue

In [267]:
i=0
while i<20:
    i=i+2
    if i == 5:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

### else

In [268]:
n=10
i=2
while i<=n:
    print(i)
    i=i+2
else:
    print('finish')

2
4
6
8
10
finish

## For loop

In [269]:
k = ['apple',24,35,'banana',True]

In [270]:
for i in k:
    print(i)

apple
24
35
banana
True

### pass

In [271]:
# pass statement is used to avoid geeting an error
for L in [1,2,3]:
    print(L)
    pass

1
2
3

In [272]:
for L in [1,2,3]:
   
    pass

### range

In [273]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [274]:
for i in range (6):
    print(i)

0
1
2
3
4
5

### break

In [275]:
for  i in k :
    print(i)
    if i== 35:
        break

apple
24
35

In [276]:
for i in k:
    print(i)
    if i == 'apple':
        break

apple

### continue

In [277]:
for i in k:
    if i ==35:
        continue
    print(i)

apple
24
banana
True

### else

In [278]:
for i in k:
    if i==24:
        continue
    print(i)
else:
    print('finally finished!!')

apple
35
banana
True
finally finished!!

# Datetime

In [279]:
from datetime import datetime

In [280]:
### datetime.strptime:-convert string into datetime
### datetime.strftime:-convert datetime into string

## strptime

In [281]:
da_te='24-september-2021'

In [282]:
F=datetime.strptime(da_te,'%d-%B-%Y')

In [283]:
F

datetime.datetime(2021, 9, 24, 0, 0)

In [284]:
type(F)

datetime.datetime

In [285]:
dir(F)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [286]:
F.month

9

In [287]:
F.day

24

In [288]:
F.year

2021

In [289]:
F.hour

0

In [290]:
F.weekday()

4

## strftime

In [291]:
K_1=datetime.now()

In [292]:
K_1.month

9

In [293]:
K_1.day

23

In [294]:
K_1.weekday()

3

In [295]:
K_1.year

2021

In [296]:
year_1=K_1.strftime('%y')

In [297]:
type(year_1)

str

In [298]:
dir(K_1)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [299]:
year_1

'21'

In [300]:
K_1.strftime('%a')

'Thu'

In [301]:
K_1.strftime('%A')

'Thursday'

In [302]:
K_1.strftime('%b')

'Sep'

In [303]:
K_1.strftime('%B')

'September'

In [304]:
K_1.strftime('%m')

'09'

In [305]:
K_1.strftime('%d')

'23'

In [306]:
K_1.strftime('%w')

'4'

In [307]:
K_1.strftime('%y')

'21'

In [308]:
K_1.strftime('%Y')

'2021'

In [309]:
K_1.strftime('%x')

'09/23/21'

In [310]:
K_1.strftime('%j')

'266'

In [311]:
K_1.strftime('%p')

'PM'

## timedelta

In [312]:
# time difference

In [313]:
from datetime import timedelta

In [314]:
current_date=datetime.now()

In [315]:
date_after_20_days=current_date + timedelta(days=20)

In [316]:
print(current_date)

2021-09-23 19:37:46.078247

In [317]:
print(date_after_20_days)

2021-10-13 19:37:46.078247

In [318]:
from datetime import date

In [319]:
date.today()

datetime.date(2021, 9, 23)

# Math

In [320]:
import math

In [321]:
h=[1,2,3]

In [322]:
# find th minumum value from iterable
min(h)

1

In [323]:
# find th maximum value from iterable
max(h)

3

In [324]:
# factorail
math.factorial(5)

120

In [325]:
# power
math.pow(4,2)

16.0

In [326]:
# rounds a no. upwards to nearest integer
math.ceil(1.4)

2

In [327]:
# rounds a no. downwards to nearest integer
math.floor(1.4)

1

In [328]:
# remove - sign  of given number
abs(-85)

85

In [329]:
# remove - sign  of given number
math.fabs(-55)

55.0

In [330]:
math.fabs(-89)

89.0

In [331]:
# sum of all items
math.fsum([1,2,3,4,5,6,7,8,9,10])

55.0

In [332]:
# return square root of a number
math.sqrt(49)

7.0

In [333]:
# return the product of all items
math.prod([2,3,5])

30

In [334]:
# truncated remove the decimal
math.trunc(-5.99)

-5

In [335]:
math.trunc(83.3333)

83

# user input

In [336]:
## allows input from user

In [338]:
name = str(input('enter your name: ')).upper()

enter your name: kanika

In [339]:
type(name)

str

In [340]:
roll_no =int(input('enter your class roll no.: '))

enter your class roll no.: 55

In [341]:
print('Name is ' ,name, 'and',' ', 'Roll no. is :', roll_no)

Name is  KANIKA and   Roll no. is : 55

In [342]:
type(roll_no)

int

In [343]:
ee_id=str(input('enter your emplyee id number:- '))

enter your emplyee id number:- 001

# lambda

In [344]:
l_am= (lambda r,s:r+3*s)

In [345]:
l_am(3,2)

9

In [346]:
s_u_m=(lambda R,S,T,U:R+S+T+U)

In [347]:
s_u_m(4,2,3,4)

13

In [348]:
mul_by_5=(lambda E:E*5)

In [349]:
mul_by_5(5)

25

# Function

In [350]:
def message():
    return 'hello world'

In [351]:
message()

'hello world'

In [352]:
def add():
    C=int(input('first number: '))
    D=int(input('second number: '))
    E=C+D
    return(E)

In [353]:
add()

first number: 45
second number: 45

90

In [354]:
def subtract(F,G):
    H=F-G
    return (H)

In [355]:
subtract(41,1)

40

In [356]:
def f_o_r_loop():
    for i in range(2,40,2):
        print(i)

In [357]:
f_o_r_loop()

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [360]:
def find_max_no (*j):
    m_a_x=[]
    n=int(input('how many numbers do you want to add in a list: '))
    for i in range(n):
        X=int(input('enter the number'))
        m_a_x.append(X)
    print(max(m_a_x))

In [361]:
find_max_no()

how many numbers do you want to add in a list: 5
enter the number4
enter the number2
enter the number3
enter the number2
enter the number1
4

In [362]:
def age(T):
    if T >=18:
        print('yes, Great you can eligible for this exam')
    else:
        print(18-T, 'years later , you will be eligible for the exam')

In [363]:
age(16)

2 years later , you will be eligible for the exam

In [364]:
# work with default argument in function
def sample(W,Q,Y=10):
    return(W+Q+Y)

In [365]:
sample(10,20)

40

In [366]:
sample(10,20,50)

80

In [367]:
sample(W=15,Q=10)

35

# scope

## local scope

In [368]:
# local scope:- a variable is created inside the function belongs to the local scope of that function
#and can only be used inside the function

In [369]:
def local_scope():
    S=100
    print(S)

In [370]:
local_scope()

100

In [371]:
S

NameError: name 'S' is not defined

## Global scope

In [372]:
# A variable created in the main body of the python code is a global variabke and belongs to the scope

In [373]:
V=100
def global_scope():
    S=100
    print(S)

In [374]:
global_scope()

100

In [375]:
V

100

In [376]:
# V  variable is  representing  global scope 
# S variable is presenting local scope

In [377]:
## Global variables are available  from within any scope global and local
X=100
def myfun():
    print(X)

In [378]:
myfun()

100

In [379]:
X

100

# Try...Except

In [380]:
# try : try block to  check block of code for  error 
# except : except block lets you handle the error

In [381]:
try:
    print(Z)
except:
    print('something went wrong')

something went wrong

In [382]:
try:
    print(Z)
except Exception as n:
    print(n)

name 'Z' is not defined

In [383]:
try:
    print(Z)
except TypeError as n:
    print(n)

NameError: name 'Z' is not defined

In [384]:
x=5
try:
    print(x)
except Exception:
    Print('something not well , check again')
else:
    print('ALL GOING WELL')
finally:
    print('work done')

5
ALL GOING WELL
work done

# File Handling

In [385]:
# create notepad
path=r'Path'

In [386]:
content='This is sample file.\nwe are going to understand the file handling topic of python  '

In [387]:
# write
f=open(path,'w')

In [388]:
f.write(content)

83

In [389]:
f.close()

In [390]:
# read file
f=open(path,'r')

In [391]:
f.read()

'This is sample file.\nwe are going to understand the file handling topic of python  '

In [392]:
f=open(path,'r')
for i in f:
    print(i)
f.close()

This is sample file.

we are going to understand the file handling topic of python

In [393]:
# append the file
f=open(path,'a')
f.write('\nnow , we are going to append the file.\nappend means add lines on notepad')
f.close()

In [394]:
f=open(path,'r')

In [395]:
f.read()

'This is sample file.\nwe are going to understand the file handling topic of python  \nnow , we are going to append the file.\nappend means add lines on notepad'

In [396]:
f=open(path,'r')
for i in f:
    print(i)
f.close()

This is sample file.

we are going to understand the file handling topic of python

now , we are going to append the file.

append means add lines on notepad

In [397]:
# overwriting
f=open(path,'w')
f.write('by overwriting , previous text will delete and only show new text')
f.close()

In [398]:
f=open(path,'r')
for i in f:
    print(i)
f.close()

by overwriting , previous text will delete and only show new text

In [399]:
f=open(path,'r')
f.read()

'by overwriting , previous text will delete and only show new text'

In [400]:
# remove file
import os
#os.remove(path)

In [401]:
#if os.path.exists(path):
#    os.remove(path)
#else:
#    print("file doesn't exists")

In [402]:
#os.remove(path)

# Enumerate

In [403]:
l_ist=[12,13,15]

In [404]:
for index, element in enumerate(l_ist):
    print(index,element)

0 12
1 13
2 15

In [405]:
for index,element in enumerate(l_ist,2):
    print(index,element)

2 12
3 13
4 15

In [406]:
car=['audi','ford','maruti','volkswagen','fiat','honda']

In [407]:
blank=list(enumerate(car))

In [408]:
blank

[(0, 'audi'),
 (1, 'ford'),
 (2, 'maruti'),
 (3, 'volkswagen'),
 (4, 'fiat'),
 (5, 'honda')]

In [409]:
type(blank)

list

In [410]:
laptop={'Dell','Sony','lenova','Apple','HP'}

In [411]:
f_1=dict(enumerate(laptop))

In [412]:
f_1

{0: 'Dell', 1: 'HP', 2: 'Sony', 3: 'Apple', 4: 'lenova'}

# iterator

In [413]:
# lists,dictionaries,sets,tuples are iterator container
# iterator is an object that contains a countable number of value.
#

In [414]:
# iterable
st_1=[1,2,25,54]

In [415]:
st_1

[1, 2, 25, 54]

In [416]:
# iterator
myit=iter(st_1)

In [417]:
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

1
2
25
54

In [418]:
#looping through an iterator
for i in st_1:
    print(i)

1
2
25
54

In [419]:
for i in 'world':
    print(i)

w
o
r
l
d

# Classes and Objects

In [420]:
# class is a blueprint to create an object
# class is a user defined type that describe what a certain type of object will look like
# in simple word class is a definition of an object
#__init__ = initialize

In [421]:
class ee_details:
    def __init__ (self,first_name,last_name,salary,ee_id):
        self.first_name=first_name
        self.last_name=last_name
        self.salary=salary
        self.ee_id=ee_id
    
    def full_name(self):
        full_name=self.first_name+' '+self.last_name
        return full_name
    def bonus_and_salary(self):
        total_salary=self.salary+self.salary*15/100
        return total_salary

In [422]:
ee1=ee_details('neelam','singh',50000,1)
ee2=ee_details('karuna','verma',29000,6)

In [423]:
ee1.first_name

'neelam'

In [424]:
ee2.salary

29000

In [425]:
ee2.full_name()

'karuna verma'

In [426]:
ee1.bonus_and_salary()

57500.0

In [427]:
class students_info:
    def __init__(self,name,roll_no,marks):
        self.name=name
        self.roll_no=roll_no
        self.marks=marks
    
    def percentage(self):
        percentage=round(self.marks/500*100,2)
        return percentage
    
    def full_info(self):
        print('Name is',self.name.upper(),', Roll no. is',self.roll_no, 'and Percentage is',round(self.marks/500*100,2))
        if self.marks/500*100 <=40:
            print('Grade = D')
        elif self.marks/500*100 ==50 or self.marks/500*100 >60:
            print('Grade = C')
        elif self.marks/500*100 ==60 or self.marks/500*100 >70:
            print('Grade = B')
        elif self.marks/500*100 ==70 or self.marks/500*100 >80:
            peint('Grade = B+')
        elif self.marks/500*100 ==80 or self.marks/500*100 >90:
            print('Grade = A')
        elif self.marks/500*100>=90:
            print('Grade = A+')

In [428]:
s_1=students_info('monika',101,430)
s_2=students_info('reshma',102,350)
s_3=students_info('karan',103,300)
s_4=students_info('heena',104,280)
s_5=students_info('ansh',105,480)
s_6=students_info('nisha',106,200)
s_7=students_info('varun',107,290)
s_8=students_info('shivani',108,290)
s_9=students_info('shivam',109,250)
s_10=students_info('vivek',110,350)

In [429]:
s_1.full_info()

Name is MONIKA , Roll no. is 101 and Percentage is 86.0
Grade = C

In [430]:
s_2.full_info()

Name is RESHMA , Roll no. is 102 and Percentage is 70.0
Grade = C

In [431]:
s_3.full_info()

Name is KARAN , Roll no. is 103 and Percentage is 60.0
Grade = B

In [432]:
s_4.full_info()

Name is HEENA , Roll no. is 104 and Percentage is 56.0

In [433]:
s_5.full_info()

Name is ANSH , Roll no. is 105 and Percentage is 96.0
Grade = C

In [434]:
s_6.full_info()

Name is NISHA , Roll no. is 106 and Percentage is 40.0
Grade = D

In [435]:
s_7.full_info()

Name is VARUN , Roll no. is 107 and Percentage is 58.0

In [436]:
s_8.percentage()

58.0

In [437]:
s_8.name

'shivani'

In [438]:
s_9.name

'shivam'

In [439]:
s_10.marks

350

# Thank You!!